<div id="login">
  <div *ngIf="status!==null">
     {{status.clientError}}
  </div>
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div id="login_data">
     <p>Логин:</p><br>
     <input type="text" [(ngModel)]="login" name="login" required size="40"><br>
     <p>Пароль:</p><br>
     <input type="text" [(ngModel)]="password" name="password" size="40"><br>
    </div>
    <button [disabled]="!form.valid" type="submit">OK</button>
  </form><br>
  <p>Ещё не зарегистрированы?</p>
  <a [routerLink]="['../', 'registration']">Регистрация</a>
</div>
