<div>
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
  <p>Фамилия:</p><br>
  <input type="text" [(ngModel)]="surname" name="surname" required size="40"><br>
  <p>Имя:</p><br>
  <input type="text" [(ngModel)]="name" name="name" required size="40"><br>
  <p>Отчество:</p><br>
  <input type="text" [(ngModel)]="patronymic" name="patronymic" required size="40"><br>
  <p>Дата рождения:</p><br>
   <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field> -->

  <input type="text" [(ngModel)]="dateOfBirth" name="dateOfBirth" id="dateOfBirth" required size="40"><br>
  <p>Пол:</p><br>
  <select [(ngModel)]="gender" name="sex" required>
    <option>Мужской</option>
    <option>Женский</option>
  </select><br>
  <p>Логин:</p><br>
  <input type="text" [(ngModel)]="login" name="login" required size="40"><br>
  <p>Пароль:</p><br>
  <input type="password" [(ngModel)]="password" name="password" required size="40"><br>
  <p>Подтверждение:</p><br>
  <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required size="40"><br>
  <button class="btn btn-success" [disabled]="!form.valid" type="submit">OK</button>
  </form>
</div>
