<div id="sidebar">
  <a [routerLink]="['./', 'my_profile']">
    <div class="label">
      Мой профиль
    </div>
  </a>
  <a [routerLink]="['./', 'my_orders']">
    <div class="label">
      Мои заказы
    </div>
  </a>
  <a [routerLink]="['./', 'my_buys']">
    <div class="label">
      Мои покупки
    </div>
  </a>
  <a [routerLink]="['./', 'my_bonus_cards']">
    <div class="label">
      Мои бонусные карты
    </div>
  </a>
  <a [routerLink]="['./', 'my_comments']">
    <div class="label">
      Мои комментарии
    </div>
  </a>
  <a [routerLink]="['./', 'my_forums']">
    <div class="label">
      Мои форумы
    </div>
  </a>
</div>
